*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


/* header */

body{
    background-color: #222222;
    overflow-x: hidden;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    width: 100%;
    padding: 10px 40px;
}

.header > .header--element{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    color: #FFFFFF;
    transition: all ease 0.4s;
    cursor: pointer;
}

.header > .header--element.img{
    margin-right: auto;
    width: 140px;
}

.header > .header--element:hover, 
.header > .header--element:focus{
    font-size: 1.25rem;
    font-weight: 600;
}

/* main */

main{
    background-color: #222222;
}

.container-title{
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-title > .row{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    min-height: calc(100vh - 160px);
    align-items: center;
    gap: 50px;
}

.container-title > .row > .row--title{
    width: min-content;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 5.0rem;
    margin-left: 40px;
    color: #FFFFFF;
}

.container-title > .row > .row--div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-title > .row > .row--div > .div--sinopse{
    width: 100%;
    max-width: 800px;
    min-height: 589px;
    background: rgba(35, 35, 35, 0.75);
    border-radius: 10px;
}

.container-title > .row > .row--div > .div--sinopse > p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 37px;
    color: #FFFFFF;
    padding: 24px 30px;
}

.container{
    margin: 0 auto;
    width: 100vw;
    max-width: 1420px;
    min-height: 100vh;
    padding: 40px 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > .container--title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 80px;
}

.container > .container--subtitle {
    font: 500 1.5rem 'Montserrat';
    color: white;
    width: 100%;
    text-align: start;
    margin: 0 0 20px 10px;
}

.container > .container--video{
    width: calc(100vw - 220px);
    height: calc((100vw - 220px)*9/16);
    max-width: 1200px;
    max-height: calc(1200px*9/16);
    border-radius: 10px;
}

.audio-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1420px;
    padding: 20px 110px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.audio-label {
    color: white;
    font: 500 1.2rem 'Montserrat';
}

.audio {
    flex: 1;
    color: black;
}

.classification-div {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;

    display: grid;
    grid:
        'name name' auto
        'level level' auto
        'opt-1 opt-2' auto
        / 1fr 1fr;
    gap: 10px;
}

.classification-div > .name {
    grid-area: name;
    font: 500 1.2rem 'Montserrat';
    color: white;
}

.classification-div > .level-wrapper {
    grid-area: level;
    width: 100%;
    height: 10px;
    background: #D9D9D9;
    border-radius: 10px;
}

.classification-div > .level-wrapper > .level {
    height: 100%;
    background: #26969A;
    border-radius: 10px;
}

.classification-div > .opt-1 {
    font: 500 0.8rem 'Montserrat';
    color: white;
    grid-area: opt-1;
}

.classification-div > .opt-2 {
    font: 500 0.8rem 'Montserrat';
    color: white;
    text-align: end;
    grid-area: opt-2;
}

.material-div {
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 20px 25px;
    display: grid;
    grid:
        'name name' auto
        'filename save' auto
        / 1fr auto;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.material-div > .name {
    grid-area: name;
    font: 600 1.2rem 'Montserrat';
}

.material-div > .filename {
    grid-area: filename;
    font: 300 0.9rem 'Montserrat';
}

.material-div > .save {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 100%;
    background: #5FB3B5;
    grid-area: save;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-div > .save > span{
    line-height: 25px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay.open {
    visibility: visible;
}

.overlay > .modal {
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(100vh);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.overlay.open > .modal {
    opacity: 1;
    transform: translateY(0);
}

.modal-title {
    color: black;
    font: 600 1.2rem 'Montserrat';
    width: 100%;
    text-align: top;
}

.modal-content {
    color: black;
    font: 400 1rem 'Montserrat';
    text-align: justify;
}

.modal-input {
    width: 100%;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font: 400 1rem 'Montserrat';
    resize: none;
    padding: 10px;
}

.button {
    margin: 20px 0 0;
    border: none;
    background: #5FB3B5;
    padding: 10px 20px;
    color: white;
    font: 400 1.2rem 'Montserrat';
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px #5FB3B544);
    cursor: pointer;
    transition: all 0.3s;
}

.button:active {
    filter: none;
}

.questions-div {
    width: 100%;
    margin: 0 0 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.question-div {
    flex: 1;
    min-width: 300px;
    background: white;
    min-height: 50px;
    padding: 20px 25px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.question-div.hidden {
    display: none;
}

.question-content {
    font: 400 1rem 'Montserrat';
    text-align: start;
}

.container--cards{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.container--cards > .card-div {
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.container--cards > .card-div > .title {
    grid-area: title;
    font: 600 1.2rem 'Montserrat';
}

.container--cards > .card-div > .content {
    grid-area: content;
    font: 400 0.9rem 'Montserrat';
    margin-bottom: 20px;
}

.container--cards > .card-div > .content.obstabulos{
    font-size: 1rem; 
    margin-top: 20px;
}

.avaliation-step {
    width: 100%;
}

.grades {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.grade-button {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    background: gray;
    color: white;
    cursor: pointer;
}

.grade-button.selected {
    background: #5FB3B5;
}

.grade-button:hover {
    filter: brightness(1.2);
}

.page-up > .fa.fa-arrow-up{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 35px;
    margin-bottom: 35px;
    background-color: rgb(38, 150, 154,0.5);
    color: #fff3e2;
    padding: 10px;
    border-radius: 50%;
}

@media screen and (max-width: 1200px) {
    .container-title > .row {
        padding: 0 10px;
        flex-direction: column;
    }

    .container-title > .row > .row--div {
        align-items: flex-start;
        height: fit-content;
    }

    .container-title > .row > .row--title {
        margin-left: 0;
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }

    .container-title > .row > .row--div > .div--sinopse {
        margin: 0 auto;
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    .header > .header--element {
        font-size: 0.8rem;
    }

    .header > .header--element:hover, 
    .header > .header--element:focus{
        font-size: 1.0rem;
    }

}

@media screen and (max-width: 768px) {
    .header {
        padding: 0;
    }

    .header > img.header--element {
        margin-left: auto;
    }

    .header > a.header--element {
        display: none;
    }

    .container-title, .container-title > .row {
        min-height: 0;
    }

    .container {
        height: fit-content;
        min-height: 0;
        padding: 40px 10px;
    }

    .container-title > .row > .row--title {
        margin-left: 0;
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .container > .container--title{
        font-size: 1.5rem;
    }

    .container > .container--subtitle {
        font-size: 1.2rem;
    }

    .container > .container--video {
        width: calc(100vw - 20px);
        height: calc((100vw - 20px)*9/16);
    }

    .audio-container {
        padding: 20px 10px;
    }

    .container-title > .row > .row--div > .div--sinopse > p{
        font-size: 1rem;
    }
}